.form-group, #submit-btn{
    margin-left: 40px;    
}

h1 {
    margin: 10px;
    margin-bottom: 15px;
}

.form-group label{
    margin-right: 5px;
}

.form-inline {
    background-color: #E9ECEF;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px; 
    margin-bottom: 20px;
}

.incomeExpenseDiv {
    display: inline-table; 
    /* this display is the problem line */
    text-align: center;
    margin-bottom: 20px;
}

